body{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}
a{
    text-decoration: none;
}
img{
    vertical-align: middle;
}
/* =====================First Header section css starts ==============================*/
.pt-100{
    padding-top: 100px;
}
.flex-container{
    display: flex;
}
section{
    margin-bottom: 100px;
}
.half-width{
    width: 40%;
    margin: 0 5%;
    text-align: left;
}
.main-header{
    font-size: 85px;
    color: gray;
}
.sub-header{
    font-size: 50px;
    color: gray;
}
.main-header span{
    color: orange;
}
.half-width img{
    width: 100%;
}
.para{
    font-size: 30px;
    color: gray;
    text-align: left;
}
.first-button{
    display: inline-block;
    padding:20px 30px;
    border-radius: 30px;
    background-image: linear-gradient(orange, tomato );
    color: #fff;
    font-size: 20px;
    margin-top: 20px;
}
/* =====================Ends ==============================*/

/* =====================About Me section css starts ==============================*/
.about-bg{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: cover;
}
/* =====================ends ==============================*/

/* =====================My Recipies section css starts ==============================*/





/* ===================== ends ==============================*/