body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}
img{
    vertical-align: middle;
}
/* =====================First Header section css starts ==============================*/
.pt-100{
    padding-top: 100px;
}
.flex-container{
    display: flex;
}
section{
    margin-bottom: 100px;
}
.half-width{
    width: 40%;
    margin: 0 5%;
    text-align: left;
}
.main-header{
    font-size: 85px;
    color: gray;
}
.sub-header{
    font-size: 50px;
    color: gray;
}
.main-header span{
    color: orange;
}
.half-width img{
    width: 100%;
}
.para{
    font-size: 20px;
    color: gray;
    text-align: left;
}
.first-button{
    display: inline-block;
    padding:20px 30px;
    border-radius: 30px;
    background-image: linear-gradient(orange, tomato );
    color: #fff;
    font-size: 20px;
    margin-top: 20px;
}
/* =====================Ends ==============================*/

/* =====================About Me section css starts ==============================*/
.about-bg{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: cover;
}
/* =====================ends ==============================*/

/* =====================My Recipies section css starts ==============================*/
.center{
    text-align: center;
}
.padding{
    padding: 10px 300px;
}
.recipie-div{
    width: 26.66%;
    border-radius: 20px;
    box-shadow: 5px 5px 20px gray;
    margin: 0 3.33%;
    padding: 20px 20px;
}
.recipie-div img{
    width: 100%;

    border-radius: 15px;
}
.recipie-div h3{
    font-size: 25px;
    color: black;
}
.recipie-div p{
    font-size: 15px;
}
/* ===================== ends ==============================*/
.follower{
    width: 26.66%;
    margin: 0 3.33%;
}
/* =====================folower section css starts ==============================*/
.shadow{
    box-shadow: 10px 10px 30px gray;
    border-radius: 10px;
    margin: 0 3.3%;
}
.follower h3{
    font-size: 35px;
    color: black;
}
.follower p{
    font-size: 15px;
    color: black;
    padding-bottom: 10px;
}
/* ===================== ends ==============================*/
/* =====================Subscribe part css starts ==============================*/
.subscribe-bg{
    background-image: url(images/food/Project\ Cover4.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 50px;
}
.full-width{
    padding: 50px 0px;
}
.full-width form input{
    padding: 20px 20px;
    border-radius: 5px;
    width: 30%;
    margin: 10px 0;
    font-size: 20px;
    border: none;
}
.color{
    color: #fff;
}
/* ===================== ends ==============================*/

/* =====================Food blog part css starts ==============================*/
.sub-header span{
    color: orange;
}
.blog-div{
    background-color: black;
    padding: 50px;
}
/* ===================== ends ==============================*/